* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.input_container {
    height: 32px;
    border-radius: 25px;
    border-color: mediumvioletred;
    width: 0vw;
    font-size: 25px;
    margin-top: 16px;
    text-align: center;
    border-style: solid;
    color: rgb(153, 30, 71);
    position: absolute;
    right: 46vw;
    transition: 1s ease;

}

header {
    width: 100%;
    height: 7vh;
    background-color: rgb(221, 221, 221);
    display: flex;
    justify-content: space-between;
    position: relative;
}

header img {
    height: 7vh;
    margin-left: 20px;
}

header i {
    position: absolute;
}

header nav i:nth-child(5) {
    right: 43vw;
}

header nav {
    height: 7vh;
    margin-right: 148px;
}

nav a {
    height: 7vh;
    background-color: #0000;
    line-height: 7vh;
    text-decoration: none;
    color: rgb(153, 30, 71);
    font-size: 24px;
    text-align: center;
    padding: calc(3.5vh - 12px) 40px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 1s ease;
}

nav a:hover {
    background-color: #fff;
    transition: 1s ease;
}

header i:nth-of-type(2) {
    right: 30px;
    top: 17px;
    font-size: 30px;
    color: rgb(153, 30, 71);
    cursor: pointer;
    transition: 0.7s ease;
}

header i:nth-of-type(1) {
    right: 90px;
    top: 17px;
    font-size: 30px;
    color: rgb(153, 30, 71);
    cursor: pointer;
    transition: 0.7s ease;
}

header>i:hover {
    color: white;
}

.content {
    display: grid;
    grid-template-columns: 3fr 4fr;
    position: relative;
}

.content img {
    border: 5px solid rgb(153, 30, 71);
    border-radius: 6%;
    grid-column: 1/2;
    width: 120px;
    cursor: pointer;
    left: calc(3/14 * 1920px - 252px);
    position: absolute;
    top: calc(6vh + 504px + 25px);

}

#big {
    justify-self: center;
    width: 504px;
    position: absolute;
    top: 6vh;
    transition: 0.8s ease;
}

.mapouter_container {
    display: flex;
    text-align: right;
    margin-top: 855px;
}

.gmap_canvas_container {
    overflow: hidden;
    background: none !important;
    display: flex;

}

.boxed {
    border: 1px solid red;
    display: inline-block;
}

.content h1 {
    grid-column: 2/3;
    margin-top: 50px;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(153, 30, 71);
}

.content p {
    grid-column: 2/3;
    margin-top: 40px;
    font-size: 30px;
    font-family: Helvetica, sans-serif;
    color: rgb(153, 30, 71);
    width: 90%;
}

.content h3 {
    grid-column: 2/3;
    margin-top: 50px;
    font-family: Helvetica, sans-serif;
    font-size: 40px;
    border-left: 0px;
}

.buttonthing {
    grid-column: 2/3;
    margin-top: 30px;
    font-size: 30px;
    color: #fff;
    font-family: Helvetica, sans-serif;
    background-color: rgb(153, 30, 71);
    border-radius: 35px;
    width: 500px;
    border: 3px solid rgb(153, 30, 71);
    height: 70px;
    transition: 0.1s linear;
}

.buttonthing:hover {
    background-color: #ffff;
    color: #000;
}

.mapouter_container {
    display: flex;
    text-align: right;
    margin-top: 455px;
}

.gmap_canvas_container {
    overflow: hidden;
    background: none !important;
    display: flex;
}

.check {
    text-decoration: none;
    color: white;
}

.content div.price {
    grid-column: 2/3;
    width: 90%;
    border-top: solid rgb(153, 30, 71);
    border-bottom: solid rgb(153, 30, 71);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    margin: 30px 0;

}

div.price h2,
div.price h4 {
    font-size: 30px;
    margin-right: 8px;
}

.recomendation {
    grid-column: 2/3;
    width: 450px;
    height: 70px;
    position: absolute;
    top: 397px;
    right: 10%;
    display: flex;
}

.recomendation a {
    bottom: 0;
    align-self: flex-end;
    color: rgb(153, 30, 71);
    font-size: 22px;
    margin-left: 20px;
}