* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.section_container
{
    display: flex;
    justify-content: center;
}
.input_container
{
    height: 25px;
    border-radius: 15%;
    width:
}

header {
     width: 100%;
     height: 7vh;
     background-color: rgb(221, 221, 221);
     display: flex;
     justify-content: space-between;
     position: relative;
}

header img {
     height: 7vh;
     margin-left: 20px;
}

header i {
     position: absolute;
}

header nav {
     height: 7vh;
}

nav a {
     height: 7vh;
     width: 100px;
     background-color: #0000;
     line-height: 7vh;
     text-decoration: none;
}

