* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
.section_container
{
    display: flex;
    justify-content: center;
    color: rgb(153, 30, 71);
}
.input_container
{
    height: 30px;
    border-radius: 25px;
    border-color: mediumvioletred;
    width: 4vj;
    font-size: 25px;
    margin-top: 15px;
    text-align: center;
    border-style: solid;
    color: rgb(153, 30, 71);
}

header {
     width: 100%;
     height: 7vh;
     background-color: rgb(221, 221, 221);
     display: flex;
     justify-content: space-between;
     position: relative;
}

header img {
     height: 7vh;
     margin-left: 20px;
}

header i {
     position: absolute;
}

header nav {
     height: 7vh;
}

nav a {
     height: 7vh;
     width: 100px;
     background-color: #0000;
     line-height: 7vh;
     text-decoration: none;
}

placeholder {
    color: red;
}

.mappic
{
    height: 500px;
    width: 800px;
}
